@media (max-width: 767px) {
    .page-top {
        background-position: 28% bottom;
    }

    .cart-background {
        background-position: 70% bottom;
    }

    .header-absolute {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
    }

    .center-content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header-content {
        height: 56px;
        margin-top: 32px;
        border-bottom: none;
    }

    .logo {
        font-size: 18px;
        line-height: 22px;
    }

    .search-input {
        display: none;
    }

    .main-menu {
        display: none;
    }

    .main-menu-mobile {
        display: flex;
    }

    .home-intro-section {
        padding-top: 32px;
        text-align: center;
    }

    .intro-section {
        justify-content: center;
    }

    .main-headline {
        font-size: 48px;
        line-height: 59px;
    }

    .main-subhead {
        font-size: 16px;
    }

    .cta-link {
        font-size: 14px;
    }

    .section {
        padding-top: 32px;
    }

    .section-last {
        padding-bottom: 32px;
    }

    .headline {
        font-size: 24px;
        line-height: 29px;
    }

    .categories-container {
        gap: 16px;
    }

    .category {
        grid-column: span 6;
        height: 375px;
        font-size: 28px;
        line-height: 34px;
    }

    .category-big {
        grid-column: span 6;
        height: 244px;
    }

    .product-list-controls {
        flex-direction: column;
        gap: 16px;
    }

    .breadcrumbs-item {
        font-size: 14px;
    }

    .products-sort {
        font-size: 14px;
        line-height: 17px;
    }

    .products-container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .product-card-name,
    .product-card-price-value,
    .product-card-old-price-value {
        font-size: 18px;
        line-height: 22px;
    }

    .cta-dark {
        font-size: 16px;
    }

    .cart-section {
        grid-template-columns: 1fr;
        gap: 48px;
        padding-top: 64px;
        padding-bottom: 16px;
    }

    .cart-content {
        grid-column: auto;
    }

    .cart-item {
        gap: 20px;
        padding-top: 18px;
        padding-bottom: 24px;

        &-content-image {
            display: none;
        }

        &-content-info {
            width: 100%;
        }

        &-title {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 8px;
        }

        &-description {
            font-size: 12px;
            line-height: 15px;
        }

        &-price {
            font-size: 12px;
            line-height: 15px;
        }
    }

    .cart-controls {
        gap: 14px;
        margin-top: 8px;
    }

    .cart-button {
        width: 50%;
        font-size: 12px;
        line-height: 15px;
    }

    .order-form {
        padding-left: 28px;
        padding-right: 28px;
    }

    .footer {
        flex-direction: column;

        &-info {
            gap: 16px;
        }
    }

    .subscribe-form-container {
        justify-content: center;
    }
}

@media (max-width: 359px) {
    .cart-controls {
        flex-direction: column;
        gap: 24px;
    }

    .cart-button {
        width: 100%;
    }

    .order-form-total {
        font-size: 18px;
        line-height: 22px;
    }
}